@import 'frappe-ui/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
}
