@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--surface-white);
  color: var(--ink-gray-9);
  @apply text-base;
  font-family: Inter, sans-serif;

  padding-right: 0 !important;
  overflow-y: scroll !important;
}

.iconlink {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}

[class*='language'] {
  @apply rounded mt-5 py-3 px-5 relative bg-surface-gray-7 dark:bg-surface-cards grid;

  .lang {
    @apply hidden;
  }

  .copy {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='rgba(128,128,128,1)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Crect width='8' height='4' x='8' y='2' rx='1' ry='1'/%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'/%3E%3C/svg%3E");
    background-size: 16px;
    background-position: 50% center;
    background-repeat: no-repeat;
    transition:
      border-color 0.25s ease 0s,
      background-color 0.25s ease 0s,
      opacity 0.25s ease 0s;
    @apply absolute top-2 right-2 w-9 h-9 bg-inherit;
  }

  .copied {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzg4ODg4OCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik0yMCA2TDkgMTdsLTUtNSIvPjwvc3ZnPg==');
  }
}

.shiki {
  @apply max-h-[500px] w-full  !bg-transparent overflow-auto leading-relaxed;

  font-family: monospace;
  .line-number {
    @apply text-gray-500 pr-3 select-none;
  }

  .highlighted {
    @apply bg-blue-900/30;
  }
}

/* scrollbar */
:root {
  --scrollbar-size: 4px;

  --scrollbar-track: var(--surface-gray-1);
  --scrollbar-thumb: var(--surface-gray-3);
  --scrollbar-thumb-hover: var(--surface-gray-4);

  --shiki-track: var(--surface-gray-7);
  --shiki-thumb: var(--surface-gray-5);
}

[data-theme='dark'] {
  --scrollbar-track: var(--surface-white);
  --scrollbar-thumb: var(--surface-gray-2);
  --scrollbar-thumb-hover: var(--surface-gray-3);

  --shiki-track: var(--surface-cards);
  --shiki-thumb: var(--surface-gray-3);
}

.shiki {
  scrollbar-width: thin;
  scrollbar-color: var(--shiki-thumb) var(--shiki-track);
}

.shiki::-webkit-scrollbar {
  height: var(--scrollbar-size);
}

.shiki::-webkit-scrollbar-track {
  background: var(--shiki-track);
}

.shiki::-webkit-scrollbar-thumb {
  background-color: var(--shiki-thumb);
  border-radius: 999px;
  background-clip: padding-box;
}

/* reusable everywhere */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* WebKit */
.scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 999px;
  background-clip: padding-box;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

/* doc typography */
.docs {
  h1:not(.vp-raw *) {
    @apply text-3xl font-semibold leading-tight tracking-[-0.02em] mt-5 lg:mt-10 mb-4;
  }

  h2:not(.vp-raw *) {
    @apply text-2xl font-semibold leading-snug tracking-[-0.02em] mt-4 lg:mt-9 mb-4;
  }

  h3:not(.vp-raw *) {
    @apply text-xl font-semibold leading-snug tracking-[-0.01em] mt-3 lg:mt-8 mb-3;
  }

  a:not(.vp-raw *) {
    text-decoration: underline;
  }

  p:not(.vp-raw *) {
    @apply leading-relaxed my-4 text-ink-gray-8;
  }

  code:not(pre code) {
    @apply text-sm rounded-sm bg-surface-gray-3 dark:bg-surface-gray-2 p-0.5 px-1;
  }

	ul {
		@apply list-disc list-inside;
	}

	li {
		@apply my-2;
	}
}
