@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: var(--surface-white); */
  /* color: var(--ink-gray-9); */
  /* font-family: Inter, sans-serif */
}

.iconlink {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}

.shiki {
  @apply max-h-[500px] border bg-surface-gray-4;
  font-family: monospace;
  font-size: 14px;
  /* Optional: Add scrollbar styling */
  /* &::-webkit-scrollbar { */
  /*   height: 6px; */
  /* } */
  /* &::-webkit-scrollbar-thumb { */
  /*   @apply bg-gray-600 rounded; */
  /* } */
  /* &::-webkit-scrollbar-track { */
  /*   @apply bg-gray-800; */
  /* } */

  /* Style line numbers if enabled */
  .line-number {
    @apply text-gray-500 pr-3 select-none;
  }

  /* Optional: Add line highlight background */
  .highlighted {
    @apply bg-blue-900/30;
  }
}

/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create an accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

/* :root { */
/*   --vp-layout-max-width: 1920px; */
/* } */
/**/
/* .VPDoc:not(.has-sidebar) .container { */
/*   max-width: 1584px !important; */
/* } */
/**/
/* .VPDoc:not(.has-sidebar) .content { */
/*   max-width: 1264px !important; */
/* } */
/**/
/* .VPDoc.has-aside .content-container { */
/*   max-width: 1168px !important; */
/* } */

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

/* .DocSearch { */
/*   --docsearch-primary-color: var(--vp-c-brand-1) !important; */
/* } */
