@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: var(--surface-white); */
  /* color: var(--ink-gray-9); */
  /* font-family: Inter, sans-serif */
}

.iconlink {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}

.shiki {
  @apply max-h-[500px];

  font-family: monospace;
  font-size: 14px;
  /* Style line numbers if enabled */
  .line-number {
    @apply text-gray-500 pr-3 select-none;
  }

  /* Optional: Add line highlight background */
  .highlighted {
    @apply bg-blue-900/30;
  }
}

/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create an accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-gray-1: var(--gray-100);
  --vp-c-gray-2: var(--gray-200);
  --vp-c-gray-3: var(--gray-300);
  --vp-c-gray-soft: var(--surface-gray-2);

  --vp-c-brand-1: var(--ink-violet-1);
  --vp-c-brand-2: var(--surface-violet);
  --vp-c-brand-3: var(--surface-violet);
  --vp-c-brand-soft: var(--surface-violet-2);

  --vp-c-green-1: var(--green-600);
  --vp-c-green-2: var(--green-500);
  --vp-c-green-3: var(--green-400);
  --vp-c-green-soft: var(--surface-green-1);

  --vp-c-yellow-1: var(--amber-600);
  --vp-c-yellow-2: var(--amber-500);
  --vp-c-yellow-3: var(--amber-400);
  --vp-c-yellow-soft: var(--surface-amber-1);

  --vp-c-red-1: var(--red-600);
  --vp-c-red-2: var(--red-500);
  --vp-c-red-3: var(--red-400);
  --vp-c-red-soft: var(--surface-red-1);

  --vp-c-purple-1: var(--violet-600);
  --vp-c-purple-2: var(--violet-500);
  --vp-c-purple-3: var(--violet-400);
  --vp-c-purple-soft: var(--surface-violet-1);
}


/**
 * Colors: Background
 *
 * - `bg`: The bg color used for main screen.
 *
 * - `bg-alt`: The alternative bg color used in places such as "sidebar",
 *   or "code block".
 *
 * - `bg-elv`: The elevated bg color. This is used at parts where it "floats",
 *   such as "dialog".
 *
 * - `bg-soft`: The bg color to slightly distinguish some components from
 *   the page. Used for things like "carbon ads" or "table".
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-bg: var(--surface-white);
  --vp-c-bg-alt: var(--surface-gray-2);
  --vp-c-bg-elv: var(--surface-modal);
  --vp-c-bg-soft: var(--surface-gray-2);
}

[data-theme='dark'] {
  --vp-c-bg-alt: var(--surface-gray-1);
}

/**
 * Colors: Borders
 *
 * - `divider`: This is used for separators. This is used to divide sections
 *   within the same components, such as having separator on "h2" heading.
 *
 * - `border`: This is designed for borders on interactive components.
 *   For example this should be used for a button outline.
 *
 * - `gutter`: This is used to divide components in the page. For example
 *   the header and the lest of the page.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-border: var(--outline-gray-1);
  --vp-c-divider: var(--outline-gray-1);
  --vp-c-gutter: var(--outline-gray-1);
}


/**
 * Colors: Text
 *
 * - `text-1`: Used for primary text.
 *
 * - `text-2`: Used for muted texts, such as "inactive menu" or "info texts".
 *
 * - `text-3`: Used for subtle texts, such as "placeholders" or "caret icon".
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-text-1: var(--ink-gray-9);
  --vp-c-text-2: var(--ink-gray-7);
  --vp-c-text-3: var(--ink-gray-5);
}

:root {
	 --vp-sidebar-bg-color: var(--surface-white);
  /* --vp-sidebar-bg-color: hsl(from var(--vp-c-bg) h s calc(l - 8%)); */
}

.VPSidebar {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--surface-gray-3) var(--surface-gray-1);
}

/* Chromium / Safari */
.VPSidebar::-webkit-scrollbar {
  width: 2px;
}

.VPSidebar::-webkit-scrollbar-track {
  background: var(--surface-gray-1);
}

.VPSidebar::-webkit-scrollbar-thumb {
  background-color: var(--surface-gray-3);
  border-radius: 999px;
}

.VPSidebar::-webkit-scrollbar-thumb:hover {
  background-color: var(--surface-gray-4);
}



/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

/* .DocSearch { */
/*   --docsearch-primary-color: var(--vp-c-brand-1) !important; */
/* } */



