/* Variable fonts usage:
:root { font-family: "Inter", sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: "InterVar", sans-serif; font-optical-sizing: auto; }
} */
@font-face {
  font-family: 'InterVar';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src:
    url('Inter.var.woff2?v=3.19') format('woff2-variations'),
    url('Inter.var.woff2?v=3.19') format('woff2');
  src: url('Inter.var.woff2?v=3.19') format('woff2') tech('variations');
  unicode-range:
    U+0000-05FF, /* Latin, Greek, Cyrillic, Hebrew */
    U+0700-1FFF, /* Extended Latin, Greek, Cyrillic, Armenian, Georgian */
    U+2C00-2FFF, /* Additional scripts */
    U+4E00-9FFF, /* CJK (Chinese, Japanese, Korean) */
    U+AC00-D7AF; /* Hangul (Korean) */
}
@font-face {
  font-family: 'InterVar';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src:
    url('Inter-Italic.var.woff2?v=3.19') format('woff2-variations'),
    url('Inter-Italic.var.woff2?v=3.19') format('woff2');
  src: url('Inter-Italic.var.woff2?v=3.19') format('woff2') tech('variations');
  unicode-range: U+0000-05FF, U+0700-1FFF, U+2C00-2FFF, U+4E00-9FFF, U+AC00-D7AF;
}
/* Aliased 'InterVar' font as 'Inter' */
/* To prevent breaking usage of `font-family: 'Inter'` */
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src:
    url('Inter.var.woff2?v=3.19') format('woff2-variations'),
    url('Inter.var.woff2?v=3.19') format('woff2');
  src: url('Inter.var.woff2?v=3.19') format('woff2') tech('variations');
  unicode-range:
    U+0000-05FF, /* Latin, Greek, Cyrillic, Hebrew */
    U+0700-1FFF, /* Extended Latin, Greek, Cyrillic, Armenian, Georgian */
    U+2C00-2FFF, /* Additional scripts */
    U+4E00-9FFF, /* CJK (Chinese, Japanese, Korean) */
    U+AC00-D7AF; /* Hangul (Korean) */
}
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src:
    url('Inter-Italic.var.woff2?v=3.19') format('woff2-variations'),
    url('Inter-Italic.var.woff2?v=3.19') format('woff2');
  src: url('Inter-Italic.var.woff2?v=3.19') format('woff2') tech('variations');
  unicode-range: U+0000-05FF, U+0700-1FFF, U+2C00-2FFF, U+4E00-9FFF, U+AC00-D7AF;
}
