@import './fonts/Inter/inter.css';
@import './espressoColors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  button,
  p,
  span,
  div {
    font-variation-settings: 'opsz' 24;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  select {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="%237C7C7C" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" aria-hidden="true" viewBox="0 0 24 24" ><path d="m6 9 6 6 6-6" /></svg>');
    background-size: 1.13em;
    background-position: right 0.44rem center;
  }
}

@layer components {
  .form-input,
  .form-textarea,
  .form-select {
    @apply h-7 rounded border border-outline-gray-1 bg-outline-gray-1 py-1.5 pl-2 pr-2 text-base text-text-icons-gray-8 placeholder-text-icons-gray-4 transition-colors hover:border-outline-gray-2 hover:bg-surface-gray-3 focus:border-outline-gray-4 focus:bg-surface-white focus:shadow-sm focus:ring-0 focus-visible:ring-2 focus-visible:ring-outline-gray-3;
  }

  .form-checkbox {
    @apply rounded-md bg-surface-gray-2 text-text-icons-blue-2 focus:ring-0 focus-visible:ring-1;
  }
}
